/* 404 CSS */

#notFound-view {
    width: 100%;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    z-index: 1;
    display: flex;
}

#notFound-content {
    margin: auto;
    width: 100%;
    max-width: 117rem;
    text-align: center;
    display: flex;
    min-height: 100vh;
}